

/* colors: */
/* #202530 darker blue */
/* #2E3545 dark blue */
/* #f1f3f6 light blue */
/* #46abfc highligh blue */


/* Lexis Styles */
        
        /* quote */

        .lex-number{
          font-size: 12px !important;
          color: #ccc;
        }

        .ant-input-search{
          border-bottom: 1px solid  #f1f3f6 !important;
        }


        .hard-reset{
          float: right;
          margin-right: 35px !important;
        }
     


        .filter-container .ant-btn {
          height: 40px !important;
      }

      .lexis-container .isoSingleContact{
        padding-left:15px !important;
      }

      .lexis-container .ant-switch{
        margin-right:10px !important;
      }


      .lexis-container .ant-input {
     
        padding-left: 20px !important;
        
    }

 

        blockquote {
          background: #f9f9f9;
          border-left: 10px solid #ccc;
          margin: 1.5em 10px;
          padding: 1.5em 30px;
          quotes: "\201C""\201D""\2018""\2019";
        }

        blockquote:before {
          color: #ccc;
          content: open-quote;
          font-size: 4em;
          line-height: 0.1em;
          margin-right: 0.25em;
          vertical-align: -0.4em;
        }

        blockquote p {
          display: inline;
        }

        .author{
          text-align: right;
        }



        /* filter styles */

        .ant-btn.selected{
          background-color: #2E3545 !important;
          color: white
        }

        .ant-btn.selected > span,  .ant-btn.selected > i{
         
          color: white
        }

        .ant-btn{
          padding: 0px 10px;
          margin: 2px 2px;
        }

        .filter-container{
          text-align: center;
          padding-top: 20px;
        }

        .filter-title{
          padding-right: 20px;
        }


        /* word and icons */

        .selected{
          background-color: #f1f3f6 !important;
        }

        .iso-word-container{
          width: 100%;
        }

        .iso-word-container h3{
          display: inline-block;
          margin-bottom: 0px;
        }

        .icon-container {
          float: right
        }

        .icon-style{
          padding: 0px 5px 0px 5px;
          color: #ccc;
        }

        .active-icon{
          padding: 0px 5px 0px 5px;
          color: #2E3545;
        }


        .isoContactList .isoSingleContact {
    
          padding-right: 5px !important;
        
      }

      .missing-content{
        text-align: center;
        padding: 40px;
      }



/* Further Readings */

.further-container{
  margin-top: 30px;
}

.further-container.isoContactBoxWrapper {
  border: 1px solid #e9e9e9 !important;
}


.further-reading .ant-card-head {
  background: #f1f3f6 !important;
  
}

.reading-author{
  /* padding-bottom: 2px; */
}

.further-container .ant-input-search {
  border-bottom: none !important;
}

.further-reading-button{
  float: right;
}

.further-reading p{
  margin-bottom: 0px;
}

.further-reading {
  padding: 10px 10px !important;
  min-height: 184px;
}


.ant-tabs {
 /* border-top: 1px solid #e8e8e8; */
 /* border-left: 1px solid #e8e8e8; */
  overflow: visible !important;
 
}

.ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar {
  width: 250px;
 
}

.readings-search{
  width: 100%;
  position: fixed;
}

.further-reading .ant-card-bordered{
height: 144px !important;
}

.ant-input {
  border: none !important;
  border-color: none !important;
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}


.ant-tabs-content {
  padding-left: 0px !important;
  /* border-left: 1px solid #e8e8e8; */
}


.search-box .ant-card-body {
  padding: 16px 32px !important;
}

.ant-tabs-vertical > .ant-tabs-bar .ant-tabs-tab {
  float: none;
  margin: 0px !important;
  padding: 8px 24px;
  display: block;
}

.ant-tabs-nav .ant-tabs-tab-active {
  color: black !important;
  font-weight: 500;
  background-color: #f1f3f6;
}

.ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar .ant-tabs-tab {
  text-align: left !important;
  padding-left: 40px;
}


.further-container .isoContactCard{
  padding: 0px !important;
}

.further-reading .ant-switch-small {
 
  bottom: 20px;
  right: 20px;
  position: absolute !important;
  
}


/* Extensions */

.extensionNote .callout{
  font-size: 16px;
}


.extensions-container h3 {
  margin-bottom: 0px !important;
}


.extensions-container .ant-card-grid {
 
  padding: 18px 24px !important;

}

mark {
  /* background-color:  #2E3545 !important; */
  background-color: #f1f3f6 !important;
  color: black !important;
  cursor: pointer;
  font-weight: 500;
  padding: .3em .6em !important;
}


.ant-notification-notice {
 
  background: #f1f3f6 !important;
 
}


.question-input > input {
  /* width: 100%; */
  background: none;
  /* border: none !important; */
  margin: 10px 0px;
  padding: 10px 30px;
}


.ant-input-suffix {
  right: 0px !important;
  width: 35px;
  text-align: center;
  background: white;
}



/* Dashboard */
.quote-container{
  background-color: white;
  
  width: 100%;
  height: 100%;
  padding: 15px 15px 15px 15px;
}

.quote-photo{
  width: 100%;
}

.author-container{
  float: right;
  text-align: right;
  width: 100%;
  height: 100%;
  padding: 20px 40px 20px 40px;
}

.ant-carousel .slick-slide {
  /* background-color: #f1f3f6; */
  height: 480px !important;
  
}

.ant-row{
  margin: 0px !important;
}

.previous-knowledge{
  margin-top: 16px !important;
}


/* Performance data */


.ant-switch-checked {
  background-color: #2E3545 !important;
}

.performance-container h3 {
  margin-bottom: 0px !important;
}


/* KeyQuestions */

.question-container .isoLayoutContentWrapper{
  padding-top:0px !important;
}


.key-question-container h3 {
  margin-bottom: 0px !important;
}

.hard-right{
  float: right;
}

.hard-right-icon{
  float: right;
  color: #ccc;
}


.key-questions{

}

.question-switch{
  margin: 0px 10px 0px 0px !important;
}

.key-question-container .ant-card-grid{

    padding: 11px 24px !important;
  
}

.question-input > input{
  width: 100%;
  border: none !important;

}

.question-input-container{

}

.question-search .ant-form-item{
  width: 100% !important;
}

.question-search .ant-form-inline .ant-form-item > div {

  width: 100% !important;
}

.question-button{
  border: none !important;
  padding: 5px !important;
}

.ant-input:focus {
  border-color: none !important;
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}




/* Goals */

.ant-collapse {
  
  border-radius: 0px !important;
 
}

.skill-switch{
  margin-right:10px !important;
}

.goals-accordion{
  margin-top: 16px !important;
}

.goals-panel{
  padding-top: 10px;
}

.goals-panel .ant-collapse-content {
 
  padding: 0px !important;
  
}

.ant-collapse-content > .ant-collapse-content-box {
  padding-top: 0px !important; 
  padding-bottom: 0px !important;
}

.skill-goals .ant-card {
  border-bottom: 1px solid #ccc;
}

.goals-container .ant-card-body {
  padding: 24px 24px !important;
}

.goals-left {
  padding-left: 0px !important;
}

.goals-right {
  padding-right: 0px !important;
}

.goals-container h3 {
  margin-bottom: 0px !important;
}

.ant-card-grid{
  background-color: #fff;
}



/* all */

.isoContactBoxWrapper {

  border: none !important;
 
}





/* Primary Readings */

.book-padding > p{
  padding-left: 16px;
}

.book-padding > a{
  padding-left: 16px;
}

.buy-button{
  background-color: #2E3545 !important;
  color: white !important;
}

.buy-button > i{
  color: white !important;
}

.primary-container .ant-row{
  cursor: pointer;
}

.ant-popover{
  width: 50% !important;
  /* background-color: #2E3545;
  color: white; */
}
.primary-image{
  width: 125px;
}

.icon-right{
  font-size: 17px;
  color: #2E3545
}

.primary-header h3 {
  margin-bottom: 0px !important;
}


.primary-container .ant-collapse-content {

  padding: 0px !important;
 
}

.primary-container .ant-card-head {
  background: none !important;
  
}

.primary-header {
  background: white !important;
  
}

.primary-container .ant-card-body {
  background: none !important;
  
}

.primary-container .ant-card {
  background: none !important;
  
}

.search-box{
  border: none !important;
  border-bottom: 1px solid #e8e8e8 !important;
  

}

.primary-container h3{
  /* padding: 0px; */
  margin-bottom: 0px !important;
}


/* Annotation */

.annotation .full-body{
  background-color: white;
  border: 1px solid #e8e8e8 !important;
  padding: 30px;
}

.max-height{
  max-height: 400px !important;
  padding-right: 24px;
}


.notification-popup{
  overflow: hidden;
  overflow-y: auto;
}

.ant-notification-notice {
  padding: 16px 0px 16px 24px !important;
  
}


.guiding-questions{
  padding-top: 30px;
  padding-right: 60px;
  margin-left: -40px;
  
}

.guiding-questions h3{

  margin-left: 40px;
  
}

.guiding-questions li{
  
    padding-bottom: 15px;
    
  }

  .poem h1{
    padding-top: 15px;
  }

.annoNote .highlight{
  font-size: 16px;
}


.numberFormat{
  text-align: right;
}


.numSpaceTop {
  padding-top: 126px;
  padding-bottom: 49px;
}

.numSpace{
  padding-bottom: 70px;
}



/* Signin */

.signin-logo{
  width: 140px;
  padding-left: 20px;
}

.sidebar-logo{
  width: 60px;
}

.icon-logo{
  width: 30px;
}


/* Weekly Outline */

.outline-input{
  border-bottom: 1px solid #f1f3f6 !important;
  margin-bottom: 10px !important;
}

.class-name{
  border: none !important;
  border-bottom: 1px solid #f1f3f6 !important;
  color: rgba(0, 0, 0, 0.65) !important;
  
}


.outline-input .ant-select-selection {
  border: none;
  color: rgba(0, 0, 0, 0.65) !important;
}

.outline-input .ant-select-selection--single {
  height: auto;
  position: relative;
  cursor: pointer;
}

.week-goal{
  padding-bottom: 5px !important;
}

.outline-button{
  width: 100%;
}

.ant-select-selection-selected-value {
  
  /* opacity: .40 !important; */
  
}

.outline-goal .ant-btn {
  padding: 0px 10px !important;
  margin: 4px 0px !important;
}

/* .week-date:focus{
  border: blue 1px solid !important;
  color: blue !important;
  
}

.ant-calendar-picker:focus{
  border: blue 1px solid !important;
  color: blue !important;
} */

.add-goal-button{
  width: 48% !important;
  float: left;
}

.save-outline-button{
  width: 48% !important;
  float: right;
  background-color: #2E3545 !important;
  color: white !important;
}